In [6]:
import snowflake.connector
from pydbgen import pydbgen
import pandas as pd
import random
import numpy
from random import randrange
from datetime import timedelta
from datetime import datetime

In [2]:
ctx = snowflake.connector.connect(
    user='alex.ostojic',
    password='<password>',
    authenticator = 'externalbrowser',
    account = 'lo43931.us-central1.gcp'
)

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

In [3]:
cur = ctx.cursor()
cur.execute("select * from poutineshop_raw_db.raw_data.order_items")

In [4]:
df = cur.fetch_pandas_all()

In [5]:
df.head()

,ID,ORDER_ID,USER_ID,INVENTORY_ITEM_ID,SALE_PRICE,STATUS,CREATED_AT,RETURNED_AT,SHIPPED_AT,DELIVERED_AT
0,298200,289346.0,31156,309204,10.750000,Complete,2021-06-14 09:27:48,NaT,2021-06-20 03:00:00,2021-06-23 03:00:00
1,298201,289347.0,31169,309205,54.000000,Complete,2021-05-24 19:26:50,NaT,2021-05-26 03:00:00,2021-06-01 03:00:00
2,298202,289348.0,31169,309206,54.000000,Complete,2021-05-24 19:30:24,NaT,2021-05-27 03:00:00,2021-05-31 03:00:00
3,298203,289349.0,31194,309207,75.110001,Complete,2020-12-31 20:14:06,NaT,2021-01-04 03:00:00,2021-01-07 03:00:00
4,298204,289350.0,31201,309208,59.990002,Complete,2021-04-30 20:05:02,NaT,2021-05-04 03:00:00,2021-05-11 03:00:00